@use '../../shared/SCSS/colors' as colors;

.player-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

.player-column {
  border: 2px solid colors.$secondary;
  box-shadow: 0 2px 4px colors.$secondary;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.player-column-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem;
}

.player-column-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  flex: 1;
}

.period-selector-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
