.player-header-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  .player-title-section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .player-title-row {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .player-title {
        font-size: x-large;
        font-weight: bold;
        margin: 0;
      }

      app-actions-menu {
        align-self: center;
        line-height: 0;
        margin-top: 5px;
      }
    }
  }
}
