.player-header-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  .player-title-section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .player-title-row {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .player-title {
        font-size: large;
        font-weight: bold;
        line-height: 1.1;
        margin: 0;
      }
    }
  }
}
