<div class="details-tab">
  @if (error()) {
    <app-error-status (retry)="retry.emit()" />
  } @else {
    <div class="details-grid">
      <div class="borderless-container">
        <span class="sub-section-header sub-section-label">CHARACTER</span>
        <app-player-character [profile]="profile()" [profileLoading]="profileLoading()" />
      </div>

      <div class="borderless-container">
        <span class="sub-section-header sub-section-label">ACCOUNT</span>
        <app-player-account-information [profile]="profile()" [profileLoading]="profileLoading()" />
      </div>

      <div class="borderless-container">
        <span class="sub-section-header sub-section-label">DEATHS</span>
        <app-player-deaths [profile]="profile()" [profileLoading]="profileLoading()" />
      </div>
    </div>
  }
</div>
