$primary: var(--p-primary-color);
$secondary: var(--p-button-secondary-background);
$gray-light: #777777;
$experience: var(--p-button-help-background);
$level: var(--p-primary-color);
$rank: #ffbc40;

$primary-contrast: var(--p-primary-contrast-color);
$primary-hover: var(--p-primary-hover-color);
$primary-active: var(--p-primary-active-color);
$secondary-hover: var(--p-button-secondary-hover-background);
$secondary-active: var(--p-button-secondary-active-background);
$secondary-contrast: var(--p-button-secondary-color);
$info: var(--p-button-info-background);
$info-contrast: var(--p-button-info-color);
$info-hover: var(--p-button-info-hover-background);
$info-active: var(--p-button-info-active-background);
$success: var(--p-button-success-background);
$success-contrast: var(--p-button-success-color);
$success-hover: var(--p-button-success-hover-background);
$success-active: var(--p-button-success-active-background);
$warn: var(--p-button-warn-background);
$warn-contrast: var(--p-button-warn-color);
$warn-hover: var(--p-button-warn-hover-background);
$warn-active: var(--p-button-warn-active-background);
$danger: var(--p-button-danger-background);
$danger-contrast: var(--p-button-danger-color);
$danger-hover: var(--p-button-danger-hover-background);
$danger-active: var(--p-button-danger-active-background);
$help: var(--p-button-help-background);
$help-contrast: var(--p-button-help-color);
$help-hover: var(--p-button-help-hover-background);
$help-active: var(--p-button-help-active-background);
$surface: var(--p-surface-0);
$surface-dark: var(--p-surface-800);
$surface-light: var(--p-surface-100);
