$color-primary: var(--p-primary-color);
$color-secondary: var(--p-button-secondary-background);
$color-gray-light: #888;
$color-primary-contrast: var(--p-primary-contrast-color);
$color-primary-hover: var(--p-primary-hover-color);
$color-primary-active: var(--p-primary-active-color);
$color-secondary-hover: var(--p-button-secondary-hover-background);
$color-secondary-active: var(--p-button-secondary-active-background);
$color-secondary-contrast: var(--p-button-secondary-color);
$color-info: var(--p-button-info-background);
$color-info-contrast: var(--p-button-info-color);
$color-info-hover: var(--p-button-info-hover-background);
$color-info-active: var(--p-button-info-active-background);
$color-success: var(--p-button-success-background);
$color-success-contrast: var(--p-button-success-color);
$color-success-hover: var(--p-button-success-hover-background);
$color-success-active: var(--p-button-success-active-background);
$color-warn: var(--p-button-warn-background);
$color-warn-contrast: var(--p-button-warn-color);
$color-warn-hover: var(--p-button-warn-hover-background);
$color-warn-active: var(--p-button-warn-active-background);
$color-danger: var(--p-button-danger-background);
$color-danger-contrast: var(--p-button-danger-color);
$color-danger-hover: var(--p-button-danger-hover-background);
$color-danger-active: var(--p-button-danger-active-background);
$color-help: var(--p-button-help-background);
$color-help-contrast: var(--p-button-help-color);
$color-help-hover: var(--p-button-help-hover-background);
$color-help-active: var(--p-button-help-active-background);
$color-surface: var(--p-surface-0);
$color-surface-dark: var(--p-surface-800);
$color-surface-light: var(--p-surface-100);
