@use '../colors';

.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: colors.$primary;

  &.visible {
    opacity: 1;
  }

  i {
    display: block;
  }
}
