@use 'colors' as colors;
@use 'charts' as charts;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

@include charts.chart-layout();

.sub-section-header {
  padding-bottom: 0.5rem;
}
