<h2 class="highscore-title">
  {{ section() | titlecase }} Highscore
  <app-loading-spinner [visible]="loading()" />
</h2>

@if (availableDateRange()) {
  <div class="available-data-info">
    <span class="additional-info">
      The vault stores highscores data from
      {{ availableDateRange()!.min_date | date: 'dd MMM yyyy' }} to
      {{ availableDateRange()!.max_date | date: 'dd MMM yyyy' }}
    </span>
    <app-info-icon
      [text]="'The actual day data is fetched around 30 minutes after server save'"
      [tooltipPosition]="'right'"
      [size]="'x-small'"
    />
  </div>
}

@if (dateRange().length === 1) {
  <span class="additional-info">
    {{ dateRange()[0] | date: 'dd MMM yyyy' }}
  </span>
} @else if (dateRange().length > 1) {
  <span class="additional-info">
    {{ dateRange()[0] | date: 'dd MMM yyyy' }} - {{ dateRange()[1] | date: 'dd MMM yyyy' }}
  </span>
}
