@use '../../../shared/colors';

.highscore-title {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.date-range-label {
  color: colors.$gray-light;
  font-size: smaller;
  margin-left: 0.25em;
}
