<div class="landing-container animation-fade">
  <!-- Main Content Area -->
  <div class="landing-grid">
    <!-- Left Sidebar -->
    <aside class="landing-sidebar-left">
      <app-side-menu />
    </aside>

    <!-- Center Content -->
    <main class="landing-main">
      <!-- Banner -->
      <section class="landing-banner-section">
        @if (!darkMode()) {
          <img src="banner-default.png" alt="DuraVault Banner" class="landing-banner" />
        } @else {
          <img src="banner-darkmode.png" alt="DuraVault Banner" class="landing-banner" />
        }
      </section>
      <!-- Dev Info -->
      <section class="landing-info-section">
        <app-dev-info-panel />
      </section>
    </main>

    <!-- Right Sidebar -->
    <aside class="landing-sidebar-right">
      <!-- Carousel -->
      <section class="landing-carousel-section">
        <app-landing-carousel />
      </section>

      <!-- Daily Top Gainers -->
      <section class="landing-daily-tops-section">
        <app-daily-top-gainers />
      </section>
    </aside>
  </div>
</div>
