<h3 class="voc-title text-label">Top By Vocation</h3>
@if (loading()) {
  <app-loading-status />
} @else if (knight() || paladin() || sorcerer() || druid() || none()) {
  <div class="voc-grid animation-fade">
    @if (knight(); as item) {
      <ng-container *ngTemplateOutlet="vocationCard; context: { $implicit: item }" />
    }
    @if (paladin(); as item) {
      <ng-container *ngTemplateOutlet="vocationCard; context: { $implicit: item }" />
    }
    @if (sorcerer(); as item) {
      <ng-container *ngTemplateOutlet="vocationCard; context: { $implicit: item }" />
    }
    @if (druid(); as item) {
      <ng-container *ngTemplateOutlet="vocationCard; context: { $implicit: item }" />
    }
    @if (none(); as item) {
      <ng-container *ngTemplateOutlet="vocationCard; context: { $implicit: item }" />
    }
  </div>
} @else {
  <app-no-data-status />
}

<ng-template #vocationCard let-item>
  <a class="voc-card" [routerLink]="item.link" [queryParams]="queryParams()">
    <span class="text-label">{{ item.group }}</span>
    <span class="text-value">{{ item.name }}</span>
    <div class="voc-card-details-container">
      @for (data of item.columns; track data.metric) {
        <div class="voc-card-detail">
          <app-metric-display
            [metric]="data.metric"
            layout="row"
            [value]="data.gainValue"
            [relativePercentagePointsFromTotal]="data.percentagePointsTotal"
            [subValue]="data.subValue"
            [showIcon]="false"
            [abbreviate]="data.abbreviate"
            [subValueTooltip]="data.subValueTooltip"
          />
        </div>
      }
    </div>
  </a>
</ng-template>
