:host {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.perf-extreme {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.15rem 1rem;
  border-radius: 4px;
}

.perf-extreme-info {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.perf-value {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1.2;
}
