@if (summary(); as s) {
  <div class="perf-extreme">
    <i class="pi pi-hourglass metric--info"></i>
    <div class="perf-extreme-info">
      <span class="text-label">Next Advance</span>
      <div class="perf-extreme-values">
        <span class="perf-value text-value">
          @if (s.estimated_level_advance_date) {
            {{ s.estimated_level_advance_date | date: 'dd MMM yyyy' }}
          } @else {
            N/A
          }
        </span>
        <app-minimalist-icon
          tooltipText="Based on average performance over the selected period"
          tooltipPosition="right"
          size="xx-small"
        />
      </div>
    </div>
  </div>
}
