<div class="side-menu">
  <!-- Online Section -->
  <section>
    <div class="section-header">
      <span>SERVER STATS</span>
    </div>
    <p-menu [model]="serverStatsItems" />
  </section>

  <!-- Tops Section -->
  <section>
    <div class="section-header">
      <span>TOPS</span>
    </div>
    <p-menu [model]="topsItems" />
  </section>

  <!-- Other Sites Section -->
  <section>
    <div class="section-header">
      <span>OTHER SITES</span>
    </div>
    <p-menu [model]="otherSitesItems" />
  </section>
</div>
