:host {
  display: block;
}

app-nav-bar {
  position: fixed;
  top: 2px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

router-outlet {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
