@keyframes jingle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@mixin jingleOnHover($duration: 0.5s) {
  transition: transform 0.15s ease;

  &.is-jinglin {
    animation: jingle $duration ease forwards;
  }
}
