<div class="summary-container" pTooltip="* In the selected period" tooltipPosition="bottom">
  <!-- Level -->
  <div class="summary-card level">
    <div class="card-icon">
      @if (summary().total_gain_level > 0) {
        <i class="pi pi-angle-double-up"></i>
      } @else if (summary().total_gain_level < 0) {
        <i class="pi pi-angle-double-down"></i>
      } @else {
        <i class="pi pi-minus"></i>
      }
    </div>
    <div class="card-content">
      <span class="card-label">LEVEL</span>
      <span class="card-value">{{ summary().total_gain_level }}</span>
      <span class="card-average"> {{ summary().average_gain_level }}/day </span>
    </div>
  </div>

  <!-- Experience (points) -->
  @if (summary().total_gain_points !== null) {
    <div class="summary-card experience">
      <div class="card-icon">
        @if (summary().total_gain_points > 0) {
          <i class="pi pi-angle-double-up"></i>
        } @else if (summary().total_gain_points < 0) {
          <i class="pi pi-angle-double-down"></i>
        } @else {
          <i class="pi pi-minus"></i>
        }
      </div>
      <div class="card-content">
        <span class="card-label">EXP</span>
        <span class="card-value">{{ summary().total_gain_points | abbreviateNumber }}</span>
        <span class="card-average">{{ summary().average_gain_points | abbreviateNumber }}/day</span>
      </div>
    </div>
  }

  <!-- Rank -->
  <div class="summary-card rank">
    <div class="card-icon">
      <i class="pi pi-crown"></i>
    </div>
    <div class="card-content">
      <span class="card-label">RANK</span>
      <span class="card-value"
        >{{ summary().total_gain_rank > 0 ? '+' : '' }}{{ summary().total_gain_rank }}</span
      >
      <span class="card-average"
        >{{ summary().average_gain_rank > 0 ? '+' : '' }}{{ summary().average_gain_rank }}/day</span
      >
    </div>
  </div>
</div>
