<div class="highscore-container">
  <div class="highscore-header">
    <app-highscore-header
      [section]="section()"
      [loading]="loading()"
      [dateRange]="getDateRangeForPeriod()"
      [availableDateRange]="scrapeDateRange()"
    />

    <app-highscore-filters
      [periodOptions]="periodOptions"
      [selectedPeriod]="selectedPeriod()"
      (searchChange)="onSearchChange($event)"
      (periodChange)="onPeriodChange($event)"
    />
  </div>

  @if (error()) {
    <p-message severity="error" [text]="error()!" />
  }

  <app-highscore-data-table [data]="data()" [loading]="loading()" [section]="section()" />
</div>
