p-table {
  border: 2px solid var(--p-button-secondary-background);
  border-radius: 6px;
  overflow: hidden;
}

i {
  font-size: 10px;
  color: var(--p-primary-color);
}

.gain-percentage {
  color: #888;
  font-size: smaller;
  margin-left: 0.25em;
}

.highscore-container {
  padding: 1rem;
  max-width: 100%;

  .highscore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .highscore-title {
      margin: 0;
      font-size: x-large;
      font-weight: bold;
    }

    .header-controls {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
