<div class="highscore-container">
  <div class="highscore-header">
    <app-highscore-header
      [section]="section()"
      [loading]="loading()"
      [dateRange]="getDateRangeForPeriod()"
      [availableDateRange]="scrapeDateRange()"
    />

    <div class="highscore-filters">
      <app-highscore-filter-table-by-name (searchChange)="onSearchChange($event)" />

      <app-highscore-period-selector
        [periodOptions]="periodOptions"
        [selectedPeriod]="selectedPeriod()"
        (periodChange)="onPeriodChange($event)"
      />
    </div>
  </div>

  <app-highscore-data-table [data]="data()" [loading]="loading()" [section]="section()" />

  <app-highscore-available-data-info [availableDateRange]="scrapeDateRange()" />
</div>
