<div class="section-shell animation-fade">
  <div class="section-header">
    <app-deaths-header />

    <div class="selector-group">
      <app-period-selector
        [selectedPeriod]="selectedPeriod()"
        (periodChange)="onPeriodChange($event)"
      />
      <app-date-range-label [dateRange]="dateRange()" />
    </div>
  </div>

  <div class="section-body">
    <div class="section-left">
      <div class="pvp-filter-group">
        <p-selectbutton
          [options]="pvpFilterOptions"
          [ngModel]="pvpFilter()"
          (onChange)="onPvpFilterChange($event.value)"
          [allowEmpty]="true"
        />
      </div>
      <app-deaths-data-table [data]="data()" [loading]="loading()" />
    </div>
    <div class="section-right">
      <app-deaths-charts [data]="data()" [loading]="loading()" [period]="selectedPeriod()" />
    </div>
  </div>
</div>
