@if (!loading() && data()) {
  <p-table
    #dataTable
    class="p-datatable-sm animation-fade"
    selectionMode="single"
    [value]="data()"
    [globalFilterFields]="globalFilterFields()"
    scrollHeight="calc(100vh - 200px)"
  >
    <ng-template pTemplate="header">
      @if (section() === 'experience') {
        <tr>
          <th></th>
          <th pSortableColumn="name">Name</th>
          <th pSortableColumn="vocation">Vocation</th>
          <th pSortableColumn="level">Level</th>
          <th pSortableColumn="points">Experience</th>
          <th pSortableColumn="gain_points">Gain Experience</th>
          <th pSortableColumn="gain_level">Gain Level</th>
          <th pSortableColumn="gain_rank">Gain Rank</th>
        </tr>
      } @else {
        <tr>
          <th></th>
          <th pSortableColumn="name">Name</th>
          <th pSortableColumn="vocation">Vocation</th>
          <th pSortableColumn="level">Level</th>
          <th pSortableColumn="gain_level">Gain Level</th>
          <th pSortableColumn="gain_rank">Gain Rank</th>
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="body" let-record let-rowIndex="rowIndex">
      @if (section() === 'experience') {
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.vocation }}</td>
          <td>{{ record.level }}</td>
          <td>{{ formatPoints(record.points) }}</td>
          <td>
            @if (getGainIcon(record.gain_points)) {
              <i [class]="getGainIcon(record.gain_points)"></i>
            }
            {{ formatPoints(record.gain_points | absolutValue) }}
            @if (record.points > 0) {
              <span class="additional-info" pTooltip="Gain as % of XP" showDelay="600">
                ({{ ((record.gain_points || 0) / record.points) * 100 | number: '1.2-2' }}%)
              </span>
            }
          </td>
          <td>
            {{ record.gain_level | absolutValue }}
            @if (getGainIcon(record.gain_level)) {
              <i [class]="getGainIcon(record.gain_level)"></i>
            }
          </td>
          <td>
            {{ record.gain_rank | absolutValue }}
            @if (getGainIcon(record.gain_rank)) {
              <i [class]="getGainIcon(record.gain_rank)"></i>
            }
          </td>
        </tr>
      } @else {
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.vocation }}</td>
          <td>{{ record.level }}</td>
          <td>
            {{ record.gain_level | absolutValue }}
            @if (getGainIcon(record.gain_level)) {
              <i [class]="getGainIcon(record.gain_level)"></i>
            }
          </td>
          <td>
            {{ record.gain_rank | absolutValue }}
            @if (getGainIcon(record.gain_rank)) {
              <i [class]="getGainIcon(record.gain_rank)"></i>
            }
          </td>
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="section() === 'experience' ? 8 : 6">
          <div class="empty-message-container">
            <i class="pi pi-exclamation-circle"></i>
            <p class="empty-message-title">No data available</p>
            <p class="empty-message-description">
              No highscores for {{ section() }} during this period.
            </p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
