@use '../../../shared/colors';

p-table {
  border: 2px solid colors.$secondary;
  border-radius: 6px;
  overflow: hidden;
}

.pi-plus,
.pi-angle-up {
  font-size: 10px;
  color: colors.$primary;
}

.pi-angle-down {
  font-size: 10px;
  color: colors.$danger;
}

.gain-percentage {
  color: colors.$gray-light;
  font-size: smaller;
  margin-left: 0.25em;
}
