@use '../../../shared/styles/colors' as colors;

p-table {
  border: 1px solid colors.$secondary;
  box-shadow: 0 1px 1px colors.$secondary;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

// ICON UP/DOWN
.pi-angle-up {
  font-size: x-small;
  color: colors.$primary;
}

.pi-angle-down {
  font-size: x-small;
  color: colors.$danger;
}

.pi-equals {
  font-size: xx-small;
  color: colors.$rank;
}

// LOADING STATE
::ng-deep .p-datatable-loading-icon {
  display: none;
}
