@use './app/shared/SCSS/colors';
@use './app/shared/SCSS/animation-fade' as animationFade;
// Import Montserrat Medium (500) from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'primeicons/primeicons.css';

html,
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
}

.clean-input-field {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;

  &:enabled:focus {
    border: 1px solid colors.$primary !important;
  }
}

.p-tooltip .p-tooltip-text {
  font-size: smaller;
}

.additional-info {
  color: colors.$gray-light;
  font-size: smaller;
  margin-left: 0.25em;
}

// ANIMATIONS
.animation-fade {
  @include animationFade.fadeAnimation();
}
