@use 'colors' as colors;
@use 'animation-fade' as animationFade;
@use 'primeicons/primeicons.css';
// Use Montserrat Medium (500) from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
}

// INPUTS
.clean-input-field {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;

  &:enabled:focus {
    border: 1px solid colors.$primary !important;
  }
}

// TOOLTIPS
.p-tooltip .p-tooltip-text {
  font-size: smaller;
}

// CONTAINERS
.default-container {
  border: 2px solid colors.$secondary;
  box-shadow: 0 1px 4px colors.$secondary;
  border-radius: 8px;
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
}

// TEXT STYLES
.additional-info {
  color: colors.$gray-light;
  font-size: smaller;
  margin-left: 0.25em;
}

.minimalist-info {
  color: colors.$gray-light;
  font-size: x-small;
  margin-left: 0.25em;
  opacity: 0.6;
}

// SECTION HEADERS
.section-header {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  letter-spacing: 1.5px;
  opacity: 0.6;
}

// ANIMATIONS
.animation-fade {
  @include animationFade.fadeAnimation();
}
