@use '../src/shared/theme-override.scss' as *;
@import 'primeicons/primeicons.css';

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  font-size: 14px;
}
