@use '../src/shared/theme-override.scss' as *;
@import 'primeicons/primeicons.css';

/* Import Montserrat Medium (500) from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
  font-size: 14px;
}
