@use './app/shared/colors';
// Import Montserrat Medium (500) from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'primeicons/primeicons.css';

html,
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
}

.p-tooltip .p-tooltip-text {
  font-size: smaller;
}

.additional-info {
  color: colors.$gray-light;
  font-size: smaller;
  margin-left: 0.25em;
}
