.metric-display {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  &--column {
    flex-direction: column;
    gap: 0.125rem;
  }

  i {
    font-size: var(--text-sm); // default

    &.metric-display--icon-xs {
      font-size: var(--text-xs);
    }
    &.metric-display--icon-sm {
      font-size: var(--text-sm);
    }
    &.metric-display--icon-md {
      font-size: var(--text-md);
    }
  }

  &--value {
    opacity: 100;
  }
}
