.online-container {
  padding: 1rem;
  max-width: 100%;

  .online-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .online-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: start;

    .online-left {
      position: sticky;
      top: calc(50px + 1rem);
      height: calc(90vh - 100px - 2rem);
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
